.layout {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */

.sidebar {
    min-width: 220px;
    background: #1e293b;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logo {
    margin: 2rem 0rem;
    text-align: center;
}

.nav-item {
    display: block;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    cursor: pointer;
}

@media (hover: hover){
    .nav-item:not(.active):hover {
        background: #334155;
    }
}

.active {
    background: #4f46e5;
}

.logout {
    margin-top: auto;
    padding: 10px;
    background: #ef4444;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

/* MAIN */

.main {
    flex: 1;
    background: #f1f5f9;
    padding: 2rem;
}

/* MEDIA QUERIES */
@media screen and (max-width:1279px) {
	.sidebar {
        position: fixed;
        top: 4rem;
        left: 0;
        height: 100vh;
        transform: translateX(-100%);
	}

    .sidebar.visible {
        transform: translateX(0);
    }
}