<div class="layout">
    <aside class="sidebar">
        <h2 class="logo">TaskFlow</h2>

        <nav>
            <div class="sidebar-section">
                <div class="section-title">General</div>
                <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">Dashboard</a>
            </div>

            <div class="sidebar-section">
                <div class="section-title" (click)="onToggleShowBoards()">
                    <p>Boards</p>
                    @if (showBoards) {
                        <mat-icon>expand_more</mat-icon>
                    } @else {
                        <mat-icon>expand_less</mat-icon>
                    }
                </div>
                @if (showBoards) {
                    @for (board of boards$ | async; track board.id) {
                        <a [routerLink]="['/board', board.id]" routerLinkActive="active" class="nav-item">{{
                            board.title
                        }}</a>
                    }
                }
            </div>
        </nav>

        <button type="button" class="logout" (click)="onLogout()">Logout</button>
    </aside>

    <main class="main">
        <router-outlet />
    </main>
</div>
