<div class="modal">
    <form class="form-container modal-content" [formGroup]="taskForm" (ngSubmit)="!isTaskInfo ? onCreate() : onEdit()">
        <h1>Task</h1>

        <div class="close" (click)="onClose()">
            <div class="m_line_1"></div>
            <div class="m_line_2"></div>
        </div>

        <div class="form-group">
            <textarea type="text" id="title" placeholder="" formControlName="title"></textarea>
            <label for="title">Title</label>

            @if (taskForm.get("title")?.touched && taskForm.get("title")?.invalid) {
                <p class="error">Title is required!</p>
            }
        </div>

        <div class="form-group">
            <textarea
                class="description"
                type="text"
                id="description"
                placeholder=""
                formControlName="description"
            ></textarea>
            <label for="description">Description</label>
        </div>

        <button class="btn-primary" [disabled]="taskForm.invalid">Save</button>
    </form>
</div>
