.modal-content {
    width: 600px;
}


.modal:has(.modal-content) {
    align-items: flex-start;
}

.form-container {
    margin: 3rem;
}

.form-group textarea.description {
    min-height: 7rem;
    height: auto;
}