.auth-container {
    display: flex;
    height: 100dvh;
}

.auth-left {
    width: 40%;
    background: var(--color_blue_gray);
    color: var(--text_second);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-left a {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: bold;
}

.auth-left p {
    opacity: 0.8;
}

.auth-right {
    flex: 1;
    background: var(--color_main_bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch {
    margin-top: 15px;
    text-align: center;
    font-size: 90%;
}

.switch a {
    color: var(--color_blue_main);
    transition: opacity 0.2s;
    text-decoration: none;
}

.switch a:hover {    
    opacity: .8;
}

@media screen and (max-width:766px) {
    .auth-container {
        flex-direction: column;
    }

    .auth-left {
        width: 100%;
        height: 200px;
    }
}