.board-page {
    background: var(--color_main_bg);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
}

.board-header h2 {
    font-size: 180%;
    font-weight: 600;
}

.board-columns {
    display: flex;
    gap: 2rem;
    flex: 1 1 auto;
}

.board-col {
    min-width: 250px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--color_forms);
    border-radius: 10px;
    padding: 1rem;
}

.board-col h3 {
    font-size: 110%;
}

.task-card {
    background: var(--color_forms);
    border-radius: 10px;
    padding: 6% 6%;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    transition: 0.2s;
    overflow-wrap: break-word;
}

.add-card {
    color: #4f46e5;
    font-weight: bold;
    padding: 0.5rem;
    transition: background-color 0.3s;
}

.add-card:hover {
    background-color: #e6e6e6;
    border-radius: 10px;
    cursor: pointer;
}

.task-card:hover {
    transform: translateY(-3%);
}

.task-card h4 {
    font-size: 95%;
    font-weight: 600;
}

.task-card p {
    font-size: 80%;
    color: #777;
}
