<div class="board-page">
    <div class="board-header">
        <h2>{{ board?.title }}</h2>
        <mat-icon [matMenuTriggerFor]="boardMenu">edit_note</mat-icon>
        <mat-menu #boardMenu="matMenu" class="custom-menu" xPosition="after">
            <button mat-menu-item (click)="onToggleEditBoard()">
                <mat-icon>edit</mat-icon>
                <span>Edit board</span>
            </button>
            <button mat-menu-item (click)="onBoardDelete()">
                <mat-icon>delete</mat-icon>
                <span>Delete board</span>
            </button>
        </mat-menu>
    </div>

    <div class="board-columns">
        @for (column of columns; track column.id) {
            <div class="task-col">
                <div class="task-col-info">
                    <div class="status-dot"></div>
                    <span>{{ column.title }}</span>
                </div>

                <div
                    class="task-list"
                    cdkDropList
                    [id]="column.id"
                    [cdkDropListConnectedTo]="connectedLists"
                    [cdkDropListData]="tasks[column.id]"
                    (cdkDropListDropped)="drop($event)"
                >
                    @for (task of tasks[column.id]; track task.id) {
                        <div cdkDrag>
                            <div class="task" [matMenuTriggerFor]="menu">
                                <mat-icon fontSet="material-symbols-outlined" class="edit-icon">edit_square</mat-icon>
                                <span>{{ task.title }}</span>
                                @if (task.description) {
                                    <mat-icon
                                        matTooltip="This task has a description"
                                        fontSet="material-symbols-outlined"
                                    >
                                        text_ad
                                    </mat-icon>
                                }
                            </div>
                        </div>
                        <mat-menu #menu="matMenu" class="custom-menu" xPosition="before" overlapTrigger>
                            <button mat-menu-item (click)="onOpenTaskInfo(task)">
                                <mat-icon>view_kanban</mat-icon>
                                <span>Open task</span>
                            </button>
                            <button mat-menu-item (click)="onTaskDelete(task)">
                                <mat-icon>delete</mat-icon>
                                <span>Delete task</span>
                            </button>
                        </mat-menu>
                    }
                </div>

                <div class="add-card" (click)="onOpenCreateTask(column.id)">
                    <h4>Create new task</h4>
                </div>
            </div>
        }

        @if (isTaskInfo) {
            <app-task-info
                [boardId]="board?.id ?? null"
                [columnId]="this.columnId"
                [taskInfo]="this.taskInfo"
                (created)="onTaskCreated($event)"
                (edited)="onTaskEdited($event)"
                (close)="onCloseTaskInfo()"
            />
        }

        @if (isEditBoard) {
            <app-edit-board [boardInfo]="board" (close)="onToggleEditBoard()" (edited)="onBoardEdited($event)" />
        }
    </div>
</div>
