.board-page {
    background: var(--color_main_bg);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
}

.board-header h2 {
    font-size: 180%;
    font-weight: 600;
}

.board-columns {
    display: flex;
    gap: 2rem;
    flex: 1 1 auto;
}

.board-col {
    min-width: 250px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.board-col h3 {
    font-size: 110%;
}

.task-card {
    height: 70px;
    background: var(--color_forms);
    border-radius: 10px;
    padding: 6% 6%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.add-card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4f46e5;
    font-weight: bold;
}

.task-card:hover {
    transform: translateY(-3%);
}

.task-card h4 {
    font-size: 95%;
    font-weight: 600;
}

.task-card p {
    font-size: 80%;
    color: #777;
}
