<div class="board-page">
    <div class="board-header">
        <h2>{{ board?.title }}</h2>
    </div>

    <div class="board-columns">
        @for (column of columns; track column.id) {
            <div class="board-col">
                <h3>{{ column.title }}</h3>

                @for (task of tasks[column.id]; track task.id) {
                    <div class="task-card-wrapper">
                        <div class="task-card" [matMenuTriggerFor]="menu">
                            <mat-icon fontSet="material-symbols-outlined" class="edit-icon">edit_square</mat-icon>
                            <h4>{{ task.title }}</h4>
                            <!-- <p>{{ task.description }}</p> -->
                        </div>
                    </div>
                    <mat-menu #menu="matMenu" class="custom-menu" xPosition="before" overlapTrigger>
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 2</button>
                    </mat-menu>
                }

                <div class="add-card" (click)="onOpenCreateTask(column.id)">
                    <h4>Create new task</h4>
                </div>
            </div>
        }
    </div>

    @if (isTaskInfo) {
        <app-task-info
            [boardId]="board?.id ?? null"
            [columnId]="this.columnId"
            [taskInfo]="this.taskInfo"
            (created)="onTaskCreated($event)"
            (edited)="onTaskEdited($event)"
            (deleted)="onTaskDelete($event)"
            (close)="onCloseTaskInfo()"
        />
    }
</div>
