<div class="board-page">
    <div class="board-header">
        <h2>{{ board?.title }}</h2>
    </div>

    <div class="board-columns">
        @for (column of columns; track column.id) {
            <div class="board-col">
                <div
                    class="tasks"
                    cdkDropList
                    [id]="column.id"
                    [cdkDropListConnectedTo]="connectedLists"
                    [cdkDropListData]="tasks[column.id]"
                    (cdkDropListDropped)="drop($event)"
                >
                    <h3>{{ column.title }}</h3>

                    @for (task of tasks[column.id]; track task.id) {
                        <div class="task-card-wrapper" cdkDrag>
                            <div class="task-card" [matMenuTriggerFor]="menu">
                                <mat-icon fontSet="material-symbols-outlined" class="edit-icon">edit_square</mat-icon>
                                <h4>{{ task.title }}</h4>
                                <!-- <p>{{ task.description }}</p> -->
                            </div>
                        </div>
                        <mat-menu #menu="matMenu" class="custom-menu" xPosition="before" overlapTrigger>
                            <button mat-menu-item (click)="onOpenTaskInfo(task)">
                                <mat-icon>view_kanban</mat-icon>
                                <span>Open task</span>
                            </button>
                            <button mat-menu-item (click)="onTaskDelete(task)">
                                <mat-icon>delete</mat-icon>
                                <span>Delete task</span>
                            </button>
                        </mat-menu>
                    }
                </div>

                <div class="add-card" (click)="onOpenCreateTask(column.id)">
                    <h4>Create new task</h4>
                </div>
            </div>
        }
    </div>

    @if (isTaskInfo) {
        <app-task-info
            [boardId]="board?.id ?? null"
            [columnId]="this.columnId"
            [taskInfo]="this.taskInfo"
            (created)="onTaskCreated($event)"
            (edited)="onTaskEdited($event)"
            (close)="onCloseTaskInfo()"
        />
    }
</div>
